<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a asp-controller="Book" asp-action="FindByAuthor" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Search by Author</a>
    <a asp-controller="Book" asp-action="FindByPublishingHouse" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Search by Publishing House</a>
    <a asp-controller="Book" asp-action="FindByPriceRange" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Search by Price</a>

</head>
<body>
</body>
</html>