.action-buttons {
    display: inline-block;
}

.favorite-button {
    border-radius: 50%;
    background-color: #FF7722;
    border-color: #FF7722;
    transition: background-color 0.3s ease;
    padding: 0.5em 1em;
    text-decoration: none;
    color: darkred;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
}

    .favorite-button:hover {
        background-color: #FFD89C;
    }

.read-button {
    background-color: #FF7722;
    border: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    border: none;
}

    .read-button:hover {
        background-color: #FFD89C;
    }
.delete-button {
    background-color: #F88017;
    transition: background-color 0.3s ease;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    border: none;
}

    .delete-button:hover {
        background-color: #FFD89C;
    }

.edit-button {
    background-color: #FF7722;
    border: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

    .edit-button:hover {
        background-color: #FFD89C;
    }


h3 {
    color: #F88017; /* Orange */
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.form-control {
    border: 2px solid #FFAE42; /* Orange */
    border-radius: 20px; /* Rounded corners */
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.red-border:focus {
    border-color: #F88017; /* Orange on focus */
}

.input-group-text {
    background-color: #FFAE42; /* Orange */
    border: none;
}

    .input-group-text input[type="submit"] {
        background-color: #FFAE42; /* Orange */
        border: none;
        cursor: pointer;
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

        .input-group-text input[type="submit"]:hover {
            background-color: #FFC266; /* Lighter Orange on hover */
        }



