<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="Quiz.cshtml.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color:#F88017">Quiz Page</title>
    </head>
</>
<body>
    <div id="quiz-container">
        @{
            var viewModel = new QuizViewModel(); // Creating an instance of QuizViewModel
            await Html.RenderPartialAsync("QuizCard", viewModel); // Rendering the partial view with the model
        }
    </div>
</body>
</html>