body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/023/867/729/original/question-mark-copy-space-background-yellow-quiz-banner-template-vector.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
}
