<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color:#F88017">Quiz Page</title>
</head>
<body>
    <div id="quiz-container">
        @{
            var viewModel = new Quiz9ViewModel(); // Creating an instance of QuizViewModel
            await Html.RenderPartialAsync("QuizCard9", viewModel); // Rendering the partial view with the model
        }
    </div>
</body>
</html>