@{
    ViewData["Title"] = "Home Page";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2016/02/16/21/07/books-1204029_1280.jpg');
            background-size: cover; 
            background-position: center center; 
            background-repeat: no-repeat; 
            margin: 0;
            padding: 0;
            font-family: Calligrapher, sans-serif;
        }

        .text-center {
            text-align: center;
        }

        .inscription {
            color: #FFA600;
        }

      
    </style>
</head>

</html>
 @if (User?.Identity?.IsAuthenticated ?? false)
 {
   <center>
    <a asp-controller="Book" asp-action="AllQuizes" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">
        Quizes
    </a>
   </center>
 }
  else
 {
    <center>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">
            Quizes
        </a>
    </center>
 }

