@using Library.Data.Models
@model Library.Models.PublisherViewModels.AddPublisherViewModel

<form action="Add" method="POST">
    <h1>Добавяне на издателска къща:</h1>

    <div class="mb-3">
        <label>Име:</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary">Добавяне</button>
</form>