@using Library.Data.Models
@model Library.Models.PublisherViewModels.AddPublisherViewModel

<form action="Add" method="post">
    <h1 style="color:#FFAE42">Add a publishing house:</h1>

    <div class="mb-3">
        <label>Name:</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Add</button>
</form>