@model IEnumerable<PublishersViewModel>

<h1 style="color:#FFAE42">Publishing house:</h1>

<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in this.Model)
        {
            <tr>
                <th>@publisher.Id</th>
                <td>@publisher.Name</td>
                <td>
                     <a asp-controller="Publisher" asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>