@model IEnumerable<PublishersViewModel>
<head>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<h1>Publishing houses:</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in this.Model)
        {
            <tr>
                <td>@publisher.Name</td>
                <td></td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Publisher" asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-warning delete-button">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>