@model IEnumerable<PublishersViewModel>

<h1 style="color:#FFAE42">Publishing houses:</h1>
@if (User.IsInRole("Administrator"))
{
    <a asp-controller="Publisher" asp-action="Add" class="btn btn-primary" style="background-color:#FFAE42; border-color:#FFAE42">Add Publisher</a>
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in this.Model)
        {
            <tr>
                <td>@publisher.Name</td>
                <td></td>
                <td>
                    @if (User.IsInRole("Administrator")||User.IsInRole("Redactor"))
                    {
                        <a asp-controller="Publisher" asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-warning delete-button" style="background-color:#EB5406;border:none">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>