<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#FAF884">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient border-bottom box-shadow mb-3" style="background-color:#FFAE42">

            <a class="navbar-brand pl-3" href="/" style="width:300px; height:65px; padding-left: 20px;">
                <div class="image">
                    <img src="~/image/731b389c-374b-43bf-88ed-45a5a9134ffa-removebg-preview.png" class="img-fluid">
                </div>
            </a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index" style="font-size: 15px;">
                                    Home
                                </a>

                                <style>
                                    .nav-link:hover {
                                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                    }
                                </style>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="BookFavorite" style="font-size: 15px;">
                                  Favorites
                                </a>

                                <style>
                                    .nav-link:hover {
                                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                    }
                                </style>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="BookRead" style="font-size: 15px;">
                                    Read
                                </a>

                                <style>
                                    .nav-link:hover {
                                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                    }
                                </style>
                            </li>

                            @if (User.IsInRole("Administrator")|| User.IsInRole("Writer")||User.IsInRole("Redactor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="Index" style="font-size: 15px;">
                                        Publishing Houses
                                    </a>

                                    <style>
                                        .nav-link:hover {
                                            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                        }
                                    </style>
                                </li>
                            }
                            @if(User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MakeRole" style="font-size: 15px;">
                                        Add Role
                                    </a>

                                    <style>
                                        .nav-link:hover {
                                            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                        }
                                    </style>
                                </li>
                            }
                           
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Find" style="font-size: 15px;">
                                        Find
                                    </a>

                                    <style>
                                        .nav-link:hover {
                                            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                        }
                                    </style>
                                </li>
                            

                        }
                        else 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="font-size: 15px;">
                                   Home
                                </a>

                                <style>
                                    .nav-link:hover {
                                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                                    }
                                </style>
                            </li>
                        }
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show">
                    @TempData["message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
